.projectElementsDiv{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}

.projectElementsDiv--info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectElementsDiv__info--hastag{
    display: flex;
    gap: 5px;

}
