.skillDiv{
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap:10px;
}

.skillDiv--skills{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.skillDiv h3{
    font-size: 14px;
    font-weight: bold;
}
.skillDiv h4{
    font-size: 12px;
}